body{
	text-align: center;
	background-color: #222831 !important;
	color: #EEEEEE !important;
}

.my_h1{
	color: #8CCFD3 !important;
}

footer{
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #b4b4b4;
	padding-top: 32px;
  	padding-bottom: 32px;
}

.my_content{
	background-color: #2d323c;
}

.h1_error{
	color: #cc2626;
}
/* .footer_hr{
	color: #EEEEEE;
} */